<div class="col">
    <div class="card">
      <img src="<%= products.pictureUrl %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= products.title %></h5>
        <p class="card-text"><%= products.detail %></p>
        <p class="card-text">$<%= products.price %></p>
      </div>
    </div>
  </div>